<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="exampleModalLabel">Problem</h4>
</div>
<div class="modal-body">
  <p>Your item/delivery selection is valid</p>
  <p>Maybe you need to add some ScanDeliver details?</p>
  <p>Also, are you sure you're eligible for BBM?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
  <button type="button" class="btn btn-primary">Submit Request</button>
</div>
