<div class="alert alert-warning" style="color: #000000">
  <p>
    <span class="bold">NOTE:</span> <span class="red">Registration is required</span> (click
    <%= link_to 'here', "https://upenn.libwizard.com/f/books-by-mail", target: '_blank' %> to register)
    to use Books by Mail. Please do not submit Books by Mail requests until you have received your
    registration confirmation email.  These requests will be cancelled.
  </p>
</div>

<div class="alert alert-warning" style="color: #000000">
  <p><span class="bold">NOTE: Due to local circulation policies items from the Pennsylvania Hospital Collection cannot be requested via Books by Mail.</span></p>
</div>