<div class="alert alert-warning bbm-warning-alert">
  <p>
    <%= t('forms.bbm.messages.registration_html',
          registration_link: link_to('here', "https://upenn.libwizard.com/f/books-by-mail", target: '_blank')) %>
  </p>
</div>
