<% if book_request?(record) %>
<div id="delivery-details-area" style="margin-left: 10px;">
  <%# if user.faculty_express? %>
    <%#= render 'facex_delivery_options', user: user %>
  <%# else %>
    <%= render 'delivery_options' %>
  <%# end %>
</div>
<% else %>
  <%# ScanDeliver or Article case %>
  <%= t('forms.ill.fields.web_delivery') %>
<% end %>
