<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <div class="navbar-header">
    <%= link_to application_name, 'http://www.library.upenn.edu', class: "navbar-brand" %>
    <span class="site-name"><%= link_to application_name, '/' %></span>
    </div>

  </div>
</div>
