<div class="well">
  There appears to be a problem with your Interlibrary Loan account. Please
  <%= mail_to 'interlib@pobox.upenn.edu', 'contact the Interlibrary Loan office', subject: 'ILL Account Problem' %>
  for assistance in diagnosing the issue.
  <br><br>
  <%= link_to 'Return to Franklin', '/' %>
</div>
