<div class="panel-group" id="holding-accordion" role="tablist" aria-multiselectable="true">
  <% if @record.holdings.any? %>
    <%= form.hidden_field :holding_id, id: 'holding-id' %>
    <% @record.holdings.each_with_index do |holding, i| %>
      <%= render 'holding_items_panel', holding: holding, i: i %>
    <% end %>
  <% else %>
    <p>No holdings - what's up with that?</p>
  <% end %>
</div>