<% if @record.items.first.checkoutable? %>
  <%= form.hidden_field :holding_id, value: @record.holdings.first.id %>
  <%= form.hidden_field :item_pid, value: @record.items.first.pid %>
<% else %>
  <div class="alert alert-warning">
    <%= t('forms.local_request.messages.unavailable_html', ill_link: '#') %>
  </div>
<% end %>
