<h3>
  Delivery
</h3>

<dl>
  <dt>Method</dt>
  <dd>Books by Mail</dd>
</dl>

<div class="alert alert-warning">
  Books by Mail requires registration! Please confirm you are a registered Books by Mail user by checking the box below.
</div>

<div class="form-group">
  <%= label_tag :bbm_confirm, 'Yes, I am registered for the Books by Mail service' %>
  <%= check_box :bbm_confirm, :registered %>
</div>
