<div class="alert alert-info">
  <%= t('forms.local_request.delivery_messages.bbm_html') %>
</div>

<%= render 'item_static_controls', item: @item, f: f %>

<%= f.form_group :bbm_confirm do %>
  <%= f.check_box :bbm_confirm,
                  id: 'bbm_validation_checkbox',
                  label: 'I am a registered Books by Mail user',
                  required: true %>
<% end %>
